/Covid19/metadata.csv
/Covid19/datasets_574076_1040311_dataset.xlsx
/DDOS/*

/1st Project - Covid19/images/Variables_plots/Platelets2.png
/1st Project - Covid19/images/Variables_plots/Hematocrit2.png
/1st Project - Covid19/images/Variables_plots/Leukocytes2.png
/1st Project - Covid19/images/Variables_plots/Lymphocytes.png
/1st Project - Covid19/images/Variables_plots/Monocytes2.png
/1st Project - Covid19/images/Variables_plots/First_model.png
